In [3]:
sql = '''

CREATE TABLE IF NOT EXISTs records (
	id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
	sitename TEXT NOT NULL,
	county TEXT,
	aqi INTEGER,
	status TEXT,
	pm25 NUMERIC,
	date TEXT,
	lat NUMERIC,
	lon NUMERIC
);

'''

import sqlite3

conn = sqlite3.connect('AQI.db')

cursor = conn.cursor()

cursor.execute(sql)

conn.commit()
cursor.close()
conn.close()

In [4]:
insertSQL= """
INSERT INTO records(sitename,county,aqi,status,pm25,date,lat,lon)
VALUES ('屏東(枋山)','屏東縣',17,'良好',6.5,'2024-10-28 09:00',22.260899,120.651472)
"""
import sqlite3

conn = sqlite3.connect('AQI.db')
#create a cursor object
cursor = conn.cursor()
#create a table 可以用迴圈
cursor.execute(insertSQL)
#commit changes and close the connection
conn.commit()
cursor.close()
conn.close()